.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

body{
    background-color: #e74c3c;
}

#home{
    /*border: 5px solid red;*/
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
}

#title{
    margin-left: 25%;
    width: 50%;
    text-align: center;
    background-color: white;
    display:inline-block;

}

#table{
    margin-left: 25%;
    padding-top: 1%;
    padding-left: 15%;
    width: 50%;
    height: 300px;
    background-color: white;

}