body{
    background-color: #e74c3c;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#home{
    /*border: 5px solid red;*/
    width: 74%;
    margin-top: 5%;
    margin-left: 13%;
}

#displayIMG{
    border: 5px solid white;
}

[class^="rapper-list"] {
    list-style-type: none;
    display: inline;
    padding-right: 5%;
}

.btn-trans {
    background: rgba(0,0,0,0);
    border: none;
}